model/media
model/SiameseLSTM.ipynb
model/GloVeSiameseLSTM.ipynb
**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*,cover
**/*.log
**/.git
**/.gitignore
